@font-face {
  font-family: "SB Sans Text";
  src: url("https://db.onlinewebfonts.com/t/c68e21ad1a10803b1ef491fd0392b067.eot");
  src:
    url("https://db.onlinewebfonts.com/t/c68e21ad1a10803b1ef491fd0392b067.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/c68e21ad1a10803b1ef491fd0392b067.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/c68e21ad1a10803b1ef491fd0392b067.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/c68e21ad1a10803b1ef491fd0392b067.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/c68e21ad1a10803b1ef491fd0392b067.svg#SB Sans Text")
      format("svg");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
